@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;600;700&display=swap');
html,
body {
font-family: 'Raleway', sans-serif;
}
:root {
}
a {
  color: inherit;
  text-decoration: none;
}
select, 
option {
  -webkit-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
input[type="file"] {
  display: none;
}
