@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;600;700&display=swap');
html,
body {
font-family: 'Raleway', sans-serif;
}
:root {
  --FooterText: #979797;
  --FooterTextTwo: #000000;
  --FooterTextThree: #9F9F9F;
  --FooterTextFour: #FFD500;
}

a {
  color: inherit;
  text-decoration: none;
}
select, 
option {
  -webkit-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
input[type="file"] {
  display: none;
}
